<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">Geekful Thinking</li>
      <li> <%= image_tag('logo.png', width: '80')%>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#">Consultations</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
</div>