<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="logo-styles">Geekful Thinking LLC</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="/consultations">Consultations</a></li>
      <li><a href="pages/contact">Contact</a></li>
      <li><a href="pages/about">About</a></li>
    </ul>
  </div>
</div>