<body class="home">
  <div class="row">
		<div class="row">
			<div class="small-12 medium-4 columns" data-responsive-toggle="development-design" data-hide-for=false data-smooth-scroll>
				<button class="text-center home-page-services home-button" type="button" data-toggle="development-design">
					<h4>Development</h4>
					<h4>& Design <i class="fa fa-caret-down float-right"></i></h4>
				</button>
					<div class="text-center home-page-services" id="development-design" data-animate="scale-in-up scale-out-down">
				    <p>Specializing in E-commerce for small and large businesses, along with basic web page builds. We understand the need and power of web presence, SEO, and user friendliness. Our passion for building dynamic websites will match your passion for having an amazing branding tool for your business.</p>
					</div>
			</div>

			<div class="small-12 medium-4 columns text-center"></div>

			<div class="small-12 medium-4 columns" data-responsive-toggle="media-production" data-hide-for=false>
				<button class="text-center home-page-services home-button" type="button" data-toggle="media-production">
					<h4>Media</h4> 
					<h4>Production <i class="fa fa-caret-down float-right"></i></h4>
				</button>
				<div class="text-center home-page-services" id="media-production" data-animate="scale-in-up scale-out-down">
			    <p>Want to have custom photos and videos for marketing or content on your website? Look no further, we can produce professional 4k aerial photos, 4k aerial videos, still photography, and any other type of video you may want ! Get that custom look you want to have for your site that stands out!</p>
				</div>
			</div>
	  </div>

	  <div class="row">
			<div class="small-12 medium-4 columns medium-centered text-center" data-responsive-toggle="hosting" data-hide-for=false>
				<button class="home-page-services home-button" type="button" data-toggle="hosting">
						<h4>Hosting <i class="fa fa-caret-down hosting-caret-padding"></i></h4>
				</button>
				<div class="home-page-services" id="hosting" data-animate="scale-in-up scale-out-down">
			    <p>Scratching your head when it comes to hosting and maintaining your page? Here at Geekful Thinking, we have the ability to host all of those services for you. We would maintain your website, domain, and hosting service! This will ensure fast turnaround times on any issues that may arise!</p>
				</div>
			</div>
	  </div>
	  <div class="row">
      <div class="small-12 medium-4 medium-centered columns">
          <%= link_to "Get Your Consultation Now", new_consultation_path, class: "expanded button home-page-btn" %>
      </div>
  	</div>
  </div>
</body>