<body class="about">
	<div class="row text-center mission-title">
	  <h2>About Geekful</h2>
	</div>
	<div class="row text-center main-row">
	  <p>Geekful Thinking was founded by a group of people with similar ideas but a variety of backgrounds. Pulling from backgrounds in corporate call centers, local government, small business owners and the Military we are able to provide services and speak to the needs of our clients from a viewpoint that is commonly missed.</p>

	  <p>At Geekful Thinking we believe that nothing should stop you from pursuing your passions and dreams. We strive to empower small businesses and individuals worldwide. Using our skills in Media & Content Creation, Photography and Web Development we offer a variety of packages that are tailored to businesses in all stages of growth. Understanding that every client is different our packages can be adapted to your individual needs.</p> 

	  <p>If our passion matches your desire to see your dream come to life, reach out to us! We’d love to meet and go over the ways Geekful Thinking can help you.</p>
	</div>
</body>