<div class="row text-center mission-title">
  <h2>Social Mission</h2>
</div>
<div class="row text-center main-row">
  <p>Geekful Thinking was founded by a group of people with similar ideas but a variety of backgrounds. Pulling from backgrounds in corporate call centers, local government, small business owners and the Military we are able to provide services and speak to the needs of our clients from a viewpoint that is commonly missed.</p>

  <p>At Geekful Thinking we believe that nothing should stop you from pursuing your passions and dreams. We strive to empower small businesses and individuals worldwide. Using our skills in Media & Content Creation, Photography and Web Development we offer a variety of packages that are tailored to businesses in all stages of growth. Understanding that every client is different our packages can be adapted to your individual needs.</p> 

  <p>We have the amazing opportunity to hire from Bottega Techs veterans program. Once the veterans are graduating from Bottega, Geekful Thinking is going to employ 1-2 veterans from each class. Our mission is to help ready them for the day to day in the coding world. At Geekful Thinking we see the need to help and give back to our men and women so they have the chance to be as successful as possible back on the home front as they have allowed it for us.</p>

  <p>If our passion matches your desire to see your dream come to life, reach out to us! We’d love to meet and go over the ways Geekful Thinking can help you.</p>
</div>
