<body class="home">
	<div class="row">
	<div class="small-2 large-4 columns">
		<div class="card cody-card" style="width: 300px;">
		  <div class="card-section">
		    <%= image_tag('Cody2.jpg') %>
		  </div>
		  <div class="card-section cody-card-text">
		  	<h5>Cody Higgins, CEO</h5>
		    <p>Full Stack Web Developer/Design</p>
		    <p>"The great myth of our times is that technology is communication." - Libby Larsen</p>
		  </div>
		</div>
	</div>
	</div>
</body>