<body class="home" id="startchange">
<%#= render 'homepage_dropdown' %>
<div class="home-button">
	<div class="row text-center">
		<div class="small-12 medium-6 large-3 columns  home-page-services" id="flippity">
			<div>
				<i class="fa fa-cube fa-5x" id="home-icon"></i>
				<h4>Development & Design</h4>
			</div>
			<p>Specializing in E-commerce for small and large businesses, along with basic web page builds. We understand the need and power of web presence, SEO, and user friendliness. Our passion for building dynamic websites will match your passion for having an amazing branding tool for your business.</p>
		</div>

		<div class="small-12 medium-6 large-3 columns  home-page-services" id="flippity2">
			<div>
				<i class="fa fa-camera-retro fa-5x" id="home-icon"></i>
				<h4>Media Production</h4>
			</div>
			<p>Want to have custom photos and videos for marketing or content on your website? Look no further, we can produce professional 4k aerial photos, 4k aerial videos, still photography, and any other type of video you may want ! Get that custom look you want to have for your site that stands out!</p>
		</div>

		<div class="small-12 medium-6 large-3 columns  home-page-services" id="flippity3">
			<div>
				<i class="fa fa-check-square-o fa-5x" id="home-icon"></i>
				<h4>Hosting</h4>
			</div>
			<p>Scratching your head when it comes to hosting and maintaining your page? Here at Geekful Thinking, we have the ability to host all of those services for you. We would maintain your website, domain, and hosting service! This will ensure fast turnaround times on any issues that may arise!</p>
		</div>

		<div class="small-12 medium-6 large-3 columns  home-page-services" id="flippity4">
			<div>
				<i class="fa fa-superpowers fa-5x" id="home-icon"></i>
				<h4>Complete Transparency</h4>
			</div>
			<p>Depending on specific requirements, we will take clients through each phase of solution development, step by step, providing sound advice on technology and application design options.</p>
		</div>
	</div>
</div>
	  <div class="row" id="consultation-now-btn">
      <div class="small-12 medium-4 medium-centered columns">
          <%= link_to "Get Your Consultation Now", new_consultation_path, class: "button home-page-btn pulse" %>
      </div>
  	</div>
</body>