<body class="mission" id="startchange">
	<div class="row text-center main-row1">
	<h3>Our Social Mission</h3>
	</div>
	<div class="row text-center main-row1">
	  <p>The veteran community is one that has given so much in service to our country, yet has received so little in return. We here at Geekful Thinking aim to be part of a solution.</p>

	  <p>By providing a workspace for Veterans that have recently graduated from area Coding Bootcamps, we better prepare them for the competitive workplace that they will find themselves in. Working with our development staff on real world projects not only provides them with real world experience but also furthers the learning experience. </p>
	</div>
</body>