<div class="geekful-container text-center">
	<div class='terms-style'>
		<div class="terms-bold">
			<h3 class="terms-bold">Privacy Policy</h3>
		</div>
		<p>Geekful Thinking does not distribute, sell or give any information to anyone at anytime concerning customers or visitors to our web site.</p>

		<p>We may collect browser platform information (what browsers are used to view our site) and screen resolution sizes using Google Analytics. We do this to determine what visitors use when accessing our web site. This helps us to advise our clientele on how large their sites should be and what applications are supported by their browsers.</p>

		<p>We do not attempt to, nor can we identify any personal information from our visitors.</p>

		<p>We do not use cookies.</p>

		<p>We do not distribute or sell email addresses to anyone at anytime.</p>

		<p>Any information given through consultation submission is at owners consent</p>
	</div>
</div>