/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require gritter
 *= require foundation_and_overrides
 *= require font-awesome
 *= require jquery-ui

 */



.nav-logo {
	font-family: 'Indie Flower', cursive;
	font-size: 1.8em;
	padding-left: 10px;
	font-weight: 400;
}

.mobile-menu-text {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}

.mobile-menu-text a {
	text-decoration: none;
	color: black;
}

.title-bar {
	background-color: rgba(0, 0, 0, 0);
	color: black;
}

.menu-icon {
	margin-top: 5px;
}

.menu-icon button {
	color: black;
}

.nav-logo a {
	font-size: 1.8em;
	font-family: 'Indie Flower', cursive;
	text-decoration: none;
	color: black;
}

.nav-links {
	padding: 10px;
}

.nav-links li a {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
	font-size: 1.2em;
	color: black;
	margin-top: 5px;
	margin-right: 10px;
}

.nav-links li a:hover {
	background-color: #FF1111;
	color: white;
	border-radius: 15px;
}


.home {
	background: url(https://s3-us-west-2.amazonaws.com/geekfulthinking/backgroundhome.jpg) no-repeat center center fixed;
	    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.new-consultation {
	background: url(https://s3-us-west-2.amazonaws.com/geekfulthinking/hustle.jpg) no-repeat center center fixed;
	    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about {
	background: url(https://s3-us-west-2.amazonaws.com/geekfulthinking/aboutpage.jpg) no-repeat center center fixed;
	    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mission {
	background: url(https://s3-us-west-2.amazonaws.com/geekfulthinking/missionpage.jpg) no-repeat center center fixed;
	    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.terms {
	background: url(https://s3-us-west-2.amazonaws.com/geekfulthinking/termspage.jpg) no-repeat center center fixed;
	    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.privacy {
	background: url(https://s3-us-west-2.amazonaws.com/geekfulthinking/privacypage.jpg) no-repeat center center fixed;
	    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img-styles {
	width: 100%;
	height: 500px;
}

.logo-body{
	padding: 70px 0px 70px; 
}

.mission-title {
}

.main-row1 {
	padding: 30px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	margin-top: 50px;
}

.main-row1 h3 {
	font-family: 'Oswald', sans-serif;
  color: white;
  font-weight: 400;
}

.main-row1 p {
	font-family: 'Oswald', sans-serif;
	font-size: 1.3em;
  color: white;
  font-weight: 400;
}

.main-row p {
	font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
  color: white;
  font-weight: 400;
}

.main-row {
	padding: 30px;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
}

.consultation-header {
	font-family: 'Roboto', sans-serif;
}

/*
* footer styles
*/

.wrapper {
    min-height: 70%;
    height: auto !important;
    height: 100%;
}

.footer, .push {
    padding-top: 50px;
}

.footer-contact-styles {
	
}

.footer-links {
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
	color: #ff1111;
}

.footer-links:hover {
	color: white;
}

.callout {
	margin: 0px;
	border: none;
	border-radius: none;
}

.callout.large {
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.6);
}

.footer-menu {
	font-family: 'Roboto', sans-serif;
	color: #f6f6f6;
}

.footer-menu h4 {
	font-family: 'Roboto', sans-serif;
	color: #f6f6f6;
}

.footer-menu1 {
	font-family: 'Roboto', sans-serif;
	color: #f6f6f6;
}

.footer-quote {
	font-family: 'Oswald', sans-serif;
	font-size: 1.1em;
	color: #ff1111;
	border-radius: 8px;
}

.footer-quote:hover {
	background-color: white;
}

.icon-link a {
	color: #ff1111;
}

.icon-link a:hover {
	color: white;
}

html, body {
    height: 100%;
}

.top-bar {
	background-color: rgba(0, 0, 0, 0);
}

.top-bar, .top-bar ul {
	background-color: rgba(0, 0, 0, 0);	
}

.fa-icon-padding {
	padding: 0px 10px 0px 10px;
}

/*
* end of footer styles
*/

/*
* javascript load
*/

.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}

/*
* end javascript load
*/


