// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'gritter';

.card-padding {
	padding: 10px 20rem 30px 20rem;
}

#contact-email {
  color: white;
}

thead th {
  text-align: center;
}

table {  
    border-collapse: collapse;
}

/*table {
  background-color: rgba(255,0,0,.5);
}*/

#highlight:hover td {
  background-color: rgba(255,0,0,.7);
  -webkit-transition: all .5s linear;
  color: white;
}

.table-height {
  max-height: 10rem;
  overflow-x: auto;
}

.card-divider {
	padding: 1rem 3rem 0rem 3rem;
	color: #ff1111;
	background: none;
}

.text-center {
	margin-top: 20px;
}

.form-text {
	color: #ff1111;
}

label {
	color: #fff;
}

.card > :last-child {
	padding-bottom: .5rem;
}

.card-divider > :last-child {
	margin-bottom: 20px;
}

.card {
	background-color: rgba(0,0,0,.7);
}

.button.expanded {
	background-color: #ff1111;
}

.button.expanded:hover {
	background-color: #fff;
	color: #ff1111;
}

.placeholder-text {
	font-style: italic;
	::-webkit-input-placeholder { color: green; }
}


/*Home page card styles*/

.cody-card {
	background-color: rgba(0,0,0,.7);
	padding: 10px;
	border-radius: 8px;
  margin-top: 25px;
  min-height: 550px;
}

.cody-card-text {
    font-family: 'Roboto', sans-serif;
	color: white;
}

.cody-card-text h5{
    font-family: 'Roboto', sans-serif;
    color: white;
}

.about-card-offset {
	background-color: rgba(0,0,0,.7);
	padding: 10px;
	border-radius: 8px;
	margin-top: 200px;
	
}

/*End of home page card styles*/

.terms-bold-underline {
	font-weight: 600;
	text-decoration: underline;
}

.terms-bold {
	font-weight: 600;
}

.geekful-container {
	padding-left: 40px;
	padding-right: 40px;
}

.terms-style {
    background-color: rgba(255,255,255,.6);
    padding-left: 40px;
    padding-right: 40px;
    height: 500px;
		overflow-y: scroll;
		margin-top: 80px;
}

.privacy-style {
    margin-top: 100px;
    background-color: rgba(255,255,255,.6);
    padding: 40px;
}

.home-page-services {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 25px;
    padding: 15px 15px 15px 15px;
}

.row {
  max-width: 80rem;
}

.home-page-services p {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: 400;
}

.home-page-services h4 {
    font-family: 'Roboto', sans-serif;
    color: #ff1111;
    padding-top: 10px;
}

.home-page-btn {
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
    background-color: #FF1111;
    color: white;
    border-radius: 8px;
    letter-spacing: 2px;
    font-size: 1.2em;
    width: 100%;
}

.home-page-btn:hover {
    color: #FF1111;
    border-radius: 8px;
    background-color: rgba(255,255,255,.5);
    border: 1px solid #FF1111;
}

.home-button {
    width: 100%;
    background-color: rgba(0,0,0,.7);
    margin-top: 2rem;
}

.hosting-caret-padding {
    margin-left: 35px;
}

#home-icon {
  color: white;
}

#footer-icon {
  padding-right: 5px;
}

#footer-hr {
  padding-top: 2rem;
}

.mobile-nav-links {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 1.2em;
  color: black;
  margin-top: 5px;
  margin-right: 10px;
  text-align: right;
}

.mobile-nav-links li a {
  display: block;
  padding: 0.7rem 1rem;
  line-height: 1;
  width: 100%;
  font-size: 1rem;
  color: #FF1111;
}

.mobile-nav-links li a:hover {
  color: #fff;
}

.mobile-nav-link-back {
  width: 100%;
  background-color: rgba(0,0,0,.7);
}

ul {
 list-style-type: none;
}

#consultation-now-btn {
  padding: 2.5rem 0 1.5rem 0;
}

#login-card {
  max-width: 20rem;
  width: 100%;
}

#login-card-padding {
  padding: 1rem 2rem 1rem 2rem;
  color: white;
}

/*
* Pulse
*/

/*@-webkit-keyframes pulse {
  100% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}*/

@keyframes pulse {
  0% {
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
  }
  50% {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
  }
  100% {
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.pulse {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border: 2px white;
}

/*
* End of pulse
*/

/*
* Flippity Set
*/

@keyframes navlinkhover {
  100% {
    transform: translate(0px, -5px);
  }
}

.flippityhover:hover {
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-name: navlinkhover;
  animation-name: navlinkhover;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/*@keyframes flippityhover2 {
  100% {
    transform: rotateZ(360deg);
  }
}

.flippityhover2:hover {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: flippityhover2;
  animation-name: flippityhover2;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}*/

@keyframes flippity {
  0% {
    transform: translate(0px, -800px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

#flippity {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: flippity;
  animation-name: flippity;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes flippity2 {
  0% {
    transform: translate(0px, -800px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

#flippity2 {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: flippity2;
  animation-name: flippity2;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-delay: .25s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes flippity3 {
  0% {
    transform: translate(0px, -800px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

#flippity3 {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: flippity3;
  animation-name: flippity3;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes flippity4 {
  0% {
    transform: translate(0px, -800px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

#flippity4 {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: flippity4;
  animation-name: flippity4;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-delay: .75s;
  animation-fill-mode: forwards;
  opacity: 0;
}

/*
* End of Flippity Set
*/