// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'gritter';

.form-padding {
	padding: 10px 20rem 30px 20rem;
}

.card-divider {
	padding: 1rem 3rem 0rem 3rem;
	color: #ff1111;
	background: none;
}

.text-center {
	margin-top: 20px;
}

.form-text {
	color: #ff1111;
}

label {
	color: #fff;
}

.card > :last-child {
	padding-bottom: .5rem;
}

.card-divider > :last-child {
	margin-bottom: 20px;
}

.card {
	background-color: rgba(0,0,0,.5);
}

.button.expanded {
	background-color: #ff1111;
}

.button.expanded:hover {
	background-color: #fff;
	color: #ff1111;
}

.placeholder-text {
	font-style: italic;
	::-webkit-input-placeholder { color: green; }
}


/*Home page card styles*/

.cody-card {
	background-color: rgba(0,0,0,.4);
	padding: 10px;
	border-radius: 8px;
	margin-top: 25px;
}

.cody-card-text {
	color: white;
}

.about-card-offset {
	background-color: rgba(0,0,0,.4);
	padding: 10px;
	border-radius: 8px;
	margin-top: 200px;
	
}

/*End of home page card styles*/





















